.card {
  height: 100%;
}

.card-img {
  object-fit: cover;
  height: 150px;
}

.row lp boxe-icones a{
  color:initial;
}
#lp-icone-olho{
  display:inline-block;

}
.lp-icone-excluir{
  display:inline-block;

  cursor:pointer;
}